<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <style>
        @keyframes fade-up {
            0% {
                opacity: 0;
                transform: translateY(40px)
            }

            100% {
                opacity: 1;
                transform: translateY(0)
            }
        }

        .fadeUp {
            opacity: 0;
            animation: fade-up 0.8s forwards
        }
    </style>

    <title>Football Spot</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="../../assets/output.css">
    <link rel="shortcut icon" href="../../assets/favicon.ico" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=IBM+Plex+Serif:wght@300;400;500;600;700&family=IBM+Plex+Mono:wght@300;400;500;600;700&family=Inter&display=swap"
        rel="stylesheet">

    <script src="../../assets/js/components.js" type="module" defer></script>
    <script src="../../assets/js/iconify.min.js"></script>

</head>

<body data-theme="light"
    class="font-[Inter] antialiased text-gray-800 transition-colors duration-500 dark:bg-gray-50 dark:text-white flex h-screen whitespace-nowrap">

    <desktop-sidebar>
        <style>
            .no-scrollbar::-webkit-scrollbar {
                display: none;
            }

            .no-scrollbar {
                -ms-overflow-style: none;
                scrollbar-width: none;
            }
        </style>

        <aside class="hidden md:block z-40 h-screen relative border-r border-gray-200 dark:border-gray-700"
            aria-label="Sidebar" separator-sidebar>
            <!-- Toggle button -->
            <button
                class="absolute right-0 bottom-18 -mr-3 bg-gray-100 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600 rounded-md p-1.5 z-50 transition-all duration-300 border border-gray-300 dark:border-gray-600"
                sidebar-button>
                <svg class="w-4 h-4 text-gray-500 transition-transform duration-300" fill="none" stroke="currentColor"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" toggle-icon>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7" />
                </svg>
            </button>
            <div class="h-full px-3 py-4 overflow-y-auto no-scrollbar bg-gray-50 dark:bg-gray-900 flex flex-col justify-between transition-all duration-50 group data-[expanded=true]:w-70 data-[expanded=false]:w-16"
                data-expanded="true" data-active="league">
                <div>
                    <ul class="space-y-2 font-medium pb-3">
                        <li>
                            <a href="../../index.html"
                                class="relative flex items-center p-2 text-gray-900 rounded-lg dark:text-white">
                                <img src="../../assets/favicon.ico" class="w-6 h-6">
                                <span class="text-md ms-3 hidden group-data-[expanded=true]:block">Fotclan</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="space-y-2 font-medium border-t border-gray-200 dark:border-gray-700 pt-3">
                        <li>
                            <a href="../../matches.html"
                                class="relative flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 z-200">
                                <iconify-icon icon="boxicons:football-pitch" width="100%" height="100%"
                                    class="w-6 h-6 group-data-[active=matches]:text-white group-data-[active=matches]:dark:text-black text-gray-500 group-data-[active=matches]:hidden block"></iconify-icon>
                                <iconify-icon icon="boxicons:football-pitch" width="100%" height="100%"
                                    class="w-6 h-6 group-data-[active=matches]:block hidden group-data-[active=matches]:fill-black group-data-[active=matches]:dark:fill-white"></iconify-icon>

                                <span
                                    class="text-sm ms-3 hidden group-data-[active=matches]:text-black group-data-[active=matches]:dark:text-white text-gray-500 group-data-[expanded=true]:block">Matches</span>
                            </a>
                        </li>
                        <li>
                            <a href="../../leagues.html"
                                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                <iconify-icon icon="ix:trophy" width="100%" height="100%"
                                    class="w-6 h-6 group-data-[active=league]:text-white group-data-[active=league]:dark:text-black text-gray-500 group-data-[active=league]:hidden block">
                                </iconify-icon>

                                <iconify-icon icon="ix:trophy" width="100%" height="100%"
                                    class="w-6 h-6 group-data-[active=league]:block fill-black dark:fill-white hidden">
                                </iconify-icon>
                                <span
                                    class="text-sm flex-1 ms-3 whitespace-nowrap hidden group-data-[active=league]:text-black group-data-[active=league]:dark:text-white text-gray-500 group-data-[expanded=true]:block">Leagues</span>
                            </a>
                        </li>
                        <li>
                            <a href="../../news.html"
                                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                <iconify-icon icon="streamline-plump:news-paper" width="100%" height="100%"
                                    class="w-6 h-6 group-data-[active=news]:text-white group-data-[active=news]:dark:text-black text-gray-500 group-data-[active=news]:hidden block">
                                </iconify-icon>

                                <iconify-icon icon="streamline-plump:news-paper" width="100%" height="100%"
                                    class="w-6 h-6 group-data-[active=news]:block fill-black dark:fill-white hidden">
                                </iconify-icon>
                                <span
                                    class="text-sm flex-1 ms-3 whitespace-nowrap hidden group-data-[active=news]:text-black group-data-[active=news]:dark:text-white text-gray-500 group-data-[expanded=true]:block">News</span>
                            </a>
                        </li>
                        <li>
                            <a href="../../profile.html"
                                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                <iconify-icon icon="healthicons:ui-user-profile" width="100%" height="100%"
                                    class="w-6 h-6 group-data-[active=profile]:text-white group-data-[active=profile]:dark:text-black text-gray-500 group-data-[active=profile]:hidden block">
                                </iconify-icon>

                                <iconify-icon icon="solar:arrow-right-linear" width="100%" height="100%"
                                    class="w-6 h-6 group-data-[active=profile]:block fill-black dark:fill-white hidden">
                                </iconify-icon>
                                <span
                                    class="text-sm flex-1 ms-3 whitespace-nowrap hidden group-data-[active=profile]:text-black group-data-[active=profile]:dark:text-white text-gray-500 group-data-[expanded=true]:block">Profile</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <mode-toggle-button data-theme="light" class="group">
                    <button
                        class="p-2 hover:bg-gray-200 dark:hover:bg-gray-700 text-gray-900 dark:text-gray-100 rounded-md border border-gray-200"
                        mode-toggle>
                        <iconify-icon icon="tdesign:mode-dark" width="100%" height="100%"
                            class="w-6 h-6 group-data-[theme=dark]:hidden group-data-[theme=light]:block"></iconify-icon>

                        <iconify-icon icon="tdesign:mode-light" width="100%" height="100%"
                            class="w-6 h-6 group-data-[theme=dark]:block group-data-[theme=light]:hidden"></iconify-icon>
                    </button>
                </mode-toggle-button>

            </div>
        </aside>
    </desktop-sidebar>

    <main class="flex-1 overflow-y-auto p-4 md:p-8 space-y-6 h-screen bg-gray-100 dark:bg-gray-800">

        <!-- Dialogs -->

        <dialog id="deposit-modal"
            class="top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full max-w-md rounded-lg bg-white p-6 shadow-lg dark:bg-gray-900 shadow-gray-300 dark:shadow-gray-900 border border-gray-400 dark:border-gray-700">
            <div class="flex items-center justify-between">
                <h2 id="modalTitle" class="text-xl font-bold text-gray-900 sm:text-2xl dark:text-white">
                    Deposit
                </h2>

                <button type="button"
                    class="-me-4 -mt-4 w-9 h-9 rounded-full p-2 text-gray-400 transition-colors hover:bg-gray-50 hover:text-gray-600 focus:outline-none"
                    aria-label="Close" onclick="document.getElementById('deposit-modal').close()">
                    <svg-icon source="x">
                    </svg-icon>
                </button>
            </div>

            <form id="form_modal">
                <div class="mt-4">
                    <label class="text-sm font-medium text-gray-500">Account Name</label>
                    <!-- change this to search input with result below -->
                    <div class="relative flex items-center mt-4  mb-4">

                        <div
                            class="block w-full py-1.5 pr-5 text-gray-500 bg-gray-200 border border-gray-300 dark:border-gray-600 rounded-lg placeholder-gray-500 pl-5 dark:bg-gray-800 dark:text-gray-300 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
                            Bank of America
                        </div>

                    </div>
                    <label class="text-sm font-medium text-gray-500">Account Number</label>
                    <!-- change this to search input with result below -->
                    <div class="relative flex items-center mt-4  mb-4">

                        <div
                            class="block w-full py-1.5 pr-5 text-gray-500 bg-gray-200 border border-gray-300 dark:border-gray-600 rounded-lg placeholder-gray-500 pl-5 dark:bg-gray-800 dark:text-gray-300 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
                            09237483943
                        </div>

                    </div>
                    <label class="text-sm font-medium text-gray-500">Amount</label>
                    <!-- change this to search input with result below -->
                    <div class="relative flex items-center mt-4">
                        <span class="absolute text-gray-700 dark:text-gray-300 mx-3">
                            <svg-icon source="briefcase" class="w-5 h-5 text-gray-700 dark:text-gray-300">
                            </svg-icon>
                        </span>

                        <input name="amount" type="text" placeholder="Amount"
                            class="block w-full py-1.5 pr-5 text-gray-500 bg-gray-200 border border-gray-300 dark:border-gray-600 rounded-lg placeholder-gray-500 pl-11 rtl:pr-11 rtl:pl-5 dark:bg-gray-800 dark:text-gray-300 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
                    </div>
                </div>
                <footer class="mt-6 flex justify-end gap-2">
                    <button type="button"
                        class="rounded bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700 transition-colors hover:bg-gray-200 dark:bg-gray-800 dark:text-gray-200 dark:hover:bg-gray-700"
                        onclick="document.getElementById('deposit-modal').close()">
                        Cancel
                    </button>

                    <button id="send_button" hx-post="/user_deposit" hx-swap="none" hx-on::after-request="
                if (event.target.id === 'send_button') {document.getElementById('deposit-modal').close()};
                " class="rounded bg-blue-600 px-4 py-2 text-sm font-medium text-white transition-colors hover:bg-blue-700">
                        Done
                    </button>
                </footer>
            </form>


        </dialog>

        <dialog id="withdraw-modal"
            class="top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full max-w-md rounded-lg bg-white p-6 shadow-lg dark:bg-gray-900 shadow-gray-300 dark:shadow-gray-900 border border-gray-400 dark:border-gray-700">
            <div class="flex items-center justify-between">
                <h2 id="modalTitle" class="text-xl font-bold text-gray-900 sm:text-2xl dark:text-white">
                    Withdraw
                </h2>

                <button type="button"
                    class="-me-4 -mt-4 w-9 h-9 rounded-full p-2 text-gray-400 transition-colors hover:bg-gray-50 hover:text-gray-600 focus:outline-none"
                    aria-label="Close" onclick="document.getElementById('withdraw-modal').close()">
                    <svg-icon source="x">
                    </svg-icon>
                </button>
            </div>

            <form>
                <div class="mt-4">
                    <label class="text-sm font-medium text-gray-500">Enter Account Name</label>
                    <!-- change this to search input with result below -->
                    <div class="relative flex items-center mt-4 mb-3">
                        <span class="absolute text-gray-700 dark:text-gray-300 mx-3">
                            <svg-icon source="briefcase" class="w-5 h-5 text-gray-700 dark:text-gray-300">
                            </svg-icon>
                        </span>

                        <input name="acc_name" type="text" placeholder="Account Name"
                            class="block w-full py-1.5 pr-5 text-gray-500 bg-gray-200 border border-gray-300 dark:border-gray-600 rounded-lg placeholder-gray-500 pl-11 rtl:pr-11 rtl:pl-5 dark:bg-gray-800 dark:text-gray-300 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">

                    </div>
                    <label class="text-sm font-medium text-gray-500">Enter Account Details</label>
                    <!-- change this to search input with result below -->
                    <div class="relative flex items-center mt-4">
                        <span class="absolute text-gray-700 dark:text-gray-300 mx-3">
                            <svg-icon source="briefcase" class="w-5 h-5 text-gray-700 dark:text-gray-300">
                            </svg-icon>
                        </span>

                        <input name=acc_number type="number" placeholder="Account Details"
                            class="block w-full py-1.5 pr-5 text-gray-500 bg-gray-200 border border-gray-300 dark:border-gray-600 rounded-lg placeholder-gray-500 pl-11 rtl:pr-11 rtl:pl-5 dark:bg-gray-800 dark:text-gray-300 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">

                    </div>

                    <label class="text-sm font-medium text-gray-500">Amount</label>
                    <!-- change this to search input with result below -->
                    <div class="relative flex items-center mt-4">
                        <span class="absolute text-gray-700 dark:text-gray-300 mx-3">
                            <svg-icon source="briefcase" class="w-5 h-5 text-gray-700 dark:text-gray-300">
                            </svg-icon>
                        </span>

                        <input name="amount" type="number" placeholder="Amount"
                            class="block w-full py-1.5 pr-5 text-gray-500 bg-gray-200 border border-gray-300 dark:border-gray-600 rounded-lg placeholder-gray-500 pl-11 rtl:pr-11 rtl:pl-5 dark:bg-gray-800 dark:text-gray-300 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">

                    </div>
                </div>

                <footer class="mt-6 flex justify-end gap-2">
                    <button type="button"
                        class="rounded bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700 transition-colors hover:bg-gray-200 dark:bg-gray-800 dark:text-gray-200 dark:hover:bg-gray-700"
                        onclick="document.getElementById('withdraw-modal').close()">
                        Cancel
                    </button>

                    <button id="withdraw_modal_button" hx-post="/user_withdraw" hx-swap="none" hx-on::after-request="
                    if (event.target.id === 'withdraw_modal_button') {document.getElementById('withdraw-modal').close()};
                    "
                        class="rounded bg-blue-600 px-4 py-2 text-sm font-medium text-white transition-colors hover:bg-blue-700">
                        Done
                    </button>
                </footer>
            </form>
        </dialog>

        <!-- use grid to maitain spacing -->
        <div class="max-w-5xl mx-auto grid grid-rows-[auto_auto_1fr] h-full">


            <!-- Nav -->
            <section class="mb-6 fadeUp flex justify-between">
                <nav class="flex items-center gap-8">
                    <a class="flex items-center gap-3" href="../../leagues.html">
                        <iconify-icon icon="ep:back" width="100%" height="100%"
                            class="w-6 h-6 group-data-[theme=dark]:hidden group-data-[theme=light]:block"></iconify-icon>
                        <span class="text-sm">Leagues</span>
                    </a>


                </nav>
                <mode-toggle-button data-theme="light" class="group">
                    <button
                        class="p-2 hover:bg-gray-200 dark:hover:bg-gray-700 text-gray-900 dark:text-gray-100 rounded-md border border-gray-200"
                        mode-toggle>
                        <iconify-icon icon="tdesign:mode-dark" width="100%" height="100%"
                            class="w-6 h-6 group-data-[theme=dark]:hidden group-data-[theme=light]:block"></iconify-icon>

                        <iconify-icon icon="tdesign:mode-light" width="100%" height="100%"
                            class="w-6 h-6 group-data-[theme=dark]:block group-data-[theme=light]:hidden"></iconify-icon>
                    </button>
                </mode-toggle-button>
            </section>

            <!-- Heading -->
            <section class="mb-6 fadeUp">
                <div class="flex justify-between flex-col-reverse md:flex-row">
                    <div class="pt-5 md:pt-0 flex">
                        <img src="../../assets/42.png" class="w-16 h-16">
                        <div class="pl-6 flex flex-col justify-center">
                            <span class="text-2xl font-bold tracking-wide">Football Spot</span>
                            <span class="text-md">Nigeria</span>
                        </div>
                    </div>
                    <drop-down class="relative ml-auto">
                        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
                            class="inline-flex items-center justify-center text-white bg-orange-300 box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-md text-sm px-4 py-2.5 focus:outline-none"
                            type="button">
                            Season
                            <svg class="w-4 h-4 ms-1.5 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m19 9-7 7-7-7" />
                            </svg>
                        </button>

                        <!-- Dropdown menu -->
                        <div id="dropdown"
                            class="hidden absolute right-0 z-10 overflow-auto max-h-96 bg-gray-900 border border-default-medium rounded-md shadow-lg w-44">
                            <ul class="p-2 text-sm text-body font-medium" aria-labelledby="dropdownDefaultButton">
                                <li>
                                    <a href="#"
                                        class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">Dashboard</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">Settings</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">Earnings</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">Sign
                                        out</a>
                                </li>
                            </ul>
                        </div>
                    </drop-down>
                </div>
            </section>

            <!-- Tabs -->
            <tab-sections class="fadeUp grid grid-rows-[auto_1fr] overflow-scroll no-scrollbar">
                <nav class="text-sm font-medium text-center text-body border-b border-default overflow-auto">
                    <ul class="flex overflow-x-auto no-scrollbar">
                        <li class="me-2">
                            <button
                                class="inline-block p-4 border-b border-transparent rounded-t-base hover:text-fg-brand hover:border-brand">Table</button>
                        </li>
                        <li class="me-2">
                            <button class="inline-block p-4 text-fg-brand border-b border-brand rounded-t-base active"
                                aria-current="page">Fixtures</button>
                        </li>
                        <li class="me-2">
                            <button
                                class="inline-block p-4 border-b border-transparent rounded-t-base hover:text-fg-brand hover:border-brand">Player
                                Stats</button>
                        </li>
                        <li class="me-2">
                            <button
                                class="inline-block p-4 border-b border-transparent rounded-t-base hover:text-fg-brand hover:border-brand">Admin</button>
                        </li>
                        <li class="me-2">
                            <button
                                class="inline-block p-4 border-b border-transparent rounded-t-base hover:text-fg-brand hover:border-brand">Players</button>
                        </li>
                    </ul>
                </nav>

                <div
                    class="bg-gray-700 w-full h-full rounded-b-md flex overflow-scroll snap-x snap-mandatory scroll-smooth no-scrollbar">

                    <!-- Table -->
                    <section class="overflow-auto flex-none w-full h-full bg-gray-800 snap-start snap-always">

                        <!-- controls -->
                        <div class="flex">
                            <button
                                class="m-2 p-2 hover:bg-gray-200 dark:hover:bg-gray-700 text-gray-900 dark:text-gray-100 rounded-md border border-gray-200 leading-none">
                                <iconify-icon icon="tdesign:mode-dark" width="100%" height="100%"
                                    class="w-6 h-6 group-data-[theme=dark]:hidden group-data-[theme=light]:block"></iconify-icon>
                            </button>
                            <button
                                class="m-2 p-2 hover:bg-gray-200 dark:hover:bg-gray-700 text-gray-900 dark:text-gray-100 rounded-md border border-gray-200 leading-none">
                                <iconify-icon icon="tdesign:mode-dark" width="100%" height="100%"
                                    class="w-6 h-6 group-data-[theme=dark]:hidden group-data-[theme=light]:block"></iconify-icon>
                            </button>
                            <button
                                class="m-2 p-2 hover:bg-gray-200 dark:hover:bg-gray-700 text-gray-900 dark:text-gray-100 rounded-md border border-gray-200 leading-none">
                                <iconify-icon icon="tdesign:mode-dark" width="100%" height="100%"
                                    class="w-6 h-6 group-data-[theme=dark]:hidden group-data-[theme=light]:block"></iconify-icon>
                            </button>
                            <button
                                class="m-2 p-2 hover:bg-gray-200 dark:hover:bg-gray-700 text-gray-900 dark:text-gray-100 rounded-md border border-gray-200 leading-none">
                                <iconify-icon icon="tdesign:mode-dark" width="100%" height="100%"
                                    class="w-6 h-6 group-data-[theme=dark]:hidden group-data-[theme=light]:block"></iconify-icon>
                            </button>
                        </div>

                        <!-- heading -->
                        <div class="flex gap-6">
                            <span>#</span>
                            <span>Player</span>
                            <span>Pts</span>
                            <span>P</span>
                            <span>W</span>
                            <span>D</span>
                            <span>L</span>
                        </div>

                        <!-- table -->
                        <div class="">
                            <div class="bg-gray-900 p-2">
                                <span>1</span>
                                <span>Mfon</span>
                                <span>11</span>
                                <span>1</span>
                                <span>3</span>
                                <span>2</span>
                                <span>5</span>
                            </div>
                            <div class="bg-gray-950 h-3 mb-6">
                                <div class="h-full bg-amber-800 rounded-r-full" style="width: 69%;">
                                </div>
                            </div>

                            <div class="bg-gray-900 p-2">
                                <span>1</span>
                                <span>Mfon</span>
                                <span>11</span>
                                <span>1</span>
                                <span>3</span>
                                <span>2</span>
                                <span>5</span>
                            </div>
                            <div class="bg-gray-950 w-full h-3 mb-6">
                                <div class="h-full bg-amber-800 rounded-r-full" style="width: 69%;">
                                </div>
                            </div>

                            <div class="bg-gray-900 p-2">
                                <span>1</span>
                                <span>Mfon</span>
                                <span>11</span>
                                <span>1</span>
                                <span>3</span>
                                <span>2</span>
                                <span>5</span>
                            </div>
                            <div class="bg-gray-950 w-full h-3 mb-6">
                                <div class="h-full bg-amber-800 rounded-r-full" style="width: 69%;">
                                </div>
                            </div>

                            <div class="bg-gray-900 p-2">
                                <span>1</span>
                                <span>Mfon</span>
                                <span>11</span>
                                <span>1</span>
                                <span>3</span>
                                <span>2</span>
                                <span>5</span>
                            </div>
                            <div class="bg-gray-950 w-full h-3 mb-6">
                                <div class="h-full bg-amber-800 rounded-r-full" style="width: 69%;">
                                </div>
                            </div>

                            <div class="bg-gray-900 p-2">
                                <span>1</span>
                                <span>Mfon</span>
                                <span>11</span>
                                <span>1</span>
                                <span>3</span>
                                <span>2</span>
                                <span>5</span>
                            </div>
                            <div class="bg-gray-950 w-full h-3 mb-6">
                                <div class="h-full bg-amber-800 rounded-r-full" style="width: 69%;">
                                </div>
                            </div>

                            <div class="bg-gray-900 p-2">
                                <span>1</span>
                                <span>Mfon</span>
                                <span>11</span>
                                <span>1</span>
                                <span>3</span>
                                <span>2</span>
                                <span>5</span>
                            </div>
                            <div class="bg-gray-950 w-full h-3 mb-6">
                                <div class="h-full bg-amber-800 rounded-r-full" style="width: 69%;">
                                </div>
                            </div>

                            <div class="bg-gray-900 p-2">
                                <span>1</span>
                                <span>Mfon</span>
                                <span>11</span>
                                <span>1</span>
                                <span>3</span>
                                <span>2</span>
                                <span>5</span>
                            </div>
                            <div class="bg-gray-950 w-full h-3 mb-6">
                                <div class="h-full bg-amber-800 rounded-r-full" style="width: 69%;">
                                </div>
                            </div>

                            <div class="bg-gray-900 p-2">
                                <span>1</span>
                                <span>Mfon</span>
                                <span>11</span>
                                <span>1</span>
                                <span>3</span>
                                <span>2</span>
                                <span>5</span>
                            </div>
                            <div class="bg-gray-950 w-full h-3 mb-6">
                                <div class="h-full bg-amber-800 rounded-r-full" style="width: 69%;">
                                </div>
                            </div>

                            <div class="bg-gray-900 p-2">
                                <span>1</span>
                                <span>Mfon</span>
                                <span>11</span>
                                <span>1</span>
                                <span>3</span>
                                <span>2</span>
                                <span>5</span>
                            </div>
                            <div class="bg-gray-950 w-full h-3 mb-6">
                                <div class="h-full bg-amber-800 rounded-r-full" style="width: 69%;">
                                </div>
                            </div>

                            <div class="bg-gray-900 p-2">
                                <span>1</span>
                                <span>Mfon</span>
                                <span>11</span>
                                <span>1</span>
                                <span>3</span>
                                <span>2</span>
                                <span>5</span>
                            </div>
                            <div class="bg-gray-950 w-full h-3 mb-6">
                                <div class="h-full bg-amber-800 rounded-r-full" style="width: 69%;">
                                </div>
                            </div>

                            <div class="bg-gray-900 p-2">
                                <span>1</span>
                                <span>Mfon</span>
                                <span>11</span>
                                <span>1</span>
                                <span>3</span>
                                <span>2</span>
                                <span>5</span>
                            </div>
                            <div class="bg-gray-950 w-full h-3 mb-6">
                                <div class="h-full bg-amber-800 rounded-r-full" style="width: 69%;">
                                </div>
                            </div>

                        </div>
                    </section>

                    <!-- Fixtures -->
                    <section
                        class="overflow-auto flex-none w-full h-full bg-gray-900 no-scrollbar snap-start snap-always">
                        <div>

                        </div>

                    </section>

                    <!-- Player Stats -->
                    <section
                        class="overflow-auto flex-none w-full h-full bg-gray-800 no-scrollbar snap-start snap-always">

                    </section>

                    <!-- Players -->
                    <section class="overflow-auto flex-none w-full h-full bg-gray-900 snap-start snap-always">

                    </section>

                    <!-- Admin -->
                    <section class="overflow-auto flex-none w-full h-full bg-gray-800 snap-start snap-always">

                    </section>
                </div>
            </tab-sections>
        </div>
    </main>

    <!-- Bottom Navigation (Mobile) -->

    <nav class="md:hidden fixed bottom-0 inset-x-0 glass dark:glass-light backdrop-blur-md border-t border-gray-300 dark:border-gray-600 flex justify-around pb-3 text-gray-900 dark:text-gray-100 group"
        data-active="league">
        <a href="../../matches.html"
            class="flex flex-col items-center text-xs group py-2 px-5 hover:bg-gray-200 hover:dark:bg-gray-800 rounded-md"
            data-active="true">
            <iconify-icon icon="solar:arrow-right-linear" width="30" height="30"
                class="group-data-[active=matches]:text-white group-data-[active=matches]:dark:text-black text-gray-500 group-data-[active=matches]:hidden block">
            </iconify-icon>
            <iconify-icon icon="solar:arrow-right-linear" width="30" height="30"
                class="group-data-[active=matches]:block hidden group-data-[active=matches]:fill-black group-data-[active=matches]:dark:fill-white">
            </iconify-icon>
            <span
                class="group-data-[active=matches]:text-black group-data-[active=matches]:dark:text-white text-gray-500 dark:text-gray-300">Matches</span>
        </a>
        <a href="../../leagues.html"
            class="flex flex-col items-center text-xs group py-2 px-5 hover:bg-gray-200 hover:dark:bg-gray-800 rounded-md"
            data-active="false">
            <iconify-icon icon="solar:arrow-right-linear" width="30" height="30"
                class="group-data-[active=league]:text-white group-data-[active=league]:dark:text-black text-gray-500 group-data-[active=league]:hidden block">
            </iconify-icon>
            <iconify-icon icon="solar:arrow-right-linear" width="30" height="30"
                class="group-data-[active=league]:block fill-black dark:fill-white hidden">
            </iconify-icon>
            <span
                class="group-data-[active=league]:text-black group-data-[active=league]:dark:text-white text-gray-500">Leagues</span>
        </a>
        <a href="../../news.html"
            class="flex flex-col items-center text-xs group py-2 px-5 hover:bg-gray-200 hover:dark:bg-gray-800 rounded-md"
            data-active="false">
            <iconify-icon icon="streamline-plump:news-paper" width="30" height="30"
                class="group-data-[active=news]:text-white group-data-[active=news]:dark:text-black text-gray-500 group-data-[active=news]:hidden block">
            </iconify-icon>
            <iconify-icon icon="streamline-plump:news-paper" width="30" height="30"
                class="group-data-[active=news]:block fill-black dark:fill-white hidden">
            </iconify-icon>
            <span
                class="group-data-[active=news]:text-black group-data-[active=news]:dark:text-white text-gray-500">News</span>
        </a>
        <a href="../../profile.html"
            class="flex flex-col items-center text-xs group py-2 px-5 hover:bg-gray-200 hover:dark:bg-gray-800 rounded-md"
            data-active="false">
            <iconify-icon icon="healthicons:ui-user-profile" width="30" height="30"
                class="group-data-[active=profile]:text-white group-data-[active=profile]:dark:text-black text-gray-500 group-data-[active=profile]:hidden block">
            </iconify-icon>
            <iconify-icon icon="solar:arrow-right-linear" width="30" height="30"
                class="group-data-[active=profile]:block fill-black dark:fill-white hidden">
            </iconify-icon>
            <span
                class="group-data-[active=profile]:text-black group-data-[active=profile]:dark:text-white text-gray-500">Profile</span>
        </a>
    </nav>

</body>
<script>
    /* ---------- ANIMATE CARDS ---------- */
    document.querySelectorAll('.fadeUp').forEach((el, i) => {
        setTimeout(() => el.style.opacity = 1, 300 + i * 80);
    });
</script>

</html>