<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

    {% block imports %}
    
    {% endblock imports %}

    {% block title %}
    
    {% endblock title %}
    </title>
</head>
<body>

    {% block desktop_nav %}
    
    {% endblock desktop_nav %}

    {% block main_body %}
    
    {% endblock main_body %}

    {% block mobile_nav %}
    
    {% endblock mobile_nav %}
    
</body>
</html>
