
{% macro test() %}
    <div>
    this is a simple hello world!
    </div>
{% endmacro %}

{% macro icon() %}

{% endmacro %}

{% macro buttton() %}

{% endmacro %}

{% macro group_table() %}

{% endmacro %}

{% macro fixture() %}

{% endmacro %}

{% macro fixtures() %}

{% endmacro %}

{% macro stats_summary() %}

{% endmacro %}

{% macro stats_page() %}

{% endmacro %}


