{% extends "base_app.jinja" %}

{% block main_body %}
  <main class="flex-1 md:ml-16 space-y-6 h-screen bg-bg-2 text-text-1 w-fit">
      <div class="max-w-7xl mx-auto h-full">
          {{components.header(root)}}
          {{components.hero()}}


      </div>
  </main>

{% endblock main_body %}